.event-container {
  margin: 1rem;
}
.card-items {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 20rem;
  height: 25rem;
  padding-bottom: 20px;
}
.event-img {
  height: 15rem;
  object-fit: cover;
  width: 100%;
}

.card-details {
  padding: 0 1rem;
}

.events-title {
  font-size: 18px;
  font-weight: 1000;
  padding: 10px 0;
  color: #262967;
}

.card-description {
  width: 15rem;
  font-size: x-small;
}
.card-view-button {
  width: -moz-fit-content;
  width: fit-content;
  font-size: small;
  font-weight: 700;
  color: rgb(194, 34, 34);
  text-decoration: none;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
.card-view-button::after {
  display: inline-block;
  width: 80%;
  height: 2px;
  border-radius: 99px;
  position: relative;
  top: 0;
  left: 0;
  content: "";
  background-color: red;
}
