.event-heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 24px;
  color: red;
  margin: 30px 0 0 0;
}
.pl {
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
}
.pl-texts {
  width: 60%;
}
.pl-title {
  font-size: 50px;
  font-weight: 600;
}
.pl-desc {
  margin: 20px 0px;
}

.pl-list {
  align-items: center;
  background-color: #e7e7e7;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 320px) and (min-width: 0px) {
  .event-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .event-heading {
    /* font-size: 1.2em; */
    font-size: 18px;
  }
  .pl {
    padding: 10px;
  }

  .pl-texts {
    width: 100%;
  }

  .pl-desc {
    display: none;
  }
  .pl-list {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .event-heading {
    font-size: 24px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .event-heading {
    font-size: 18px;
  }
}
